* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    }

/* body{
    background-image: url(assets/podio-novo.JPEG);
}

body::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    border:  #f26457 solid 4px;
    background-size: cover; 
    filter: opacity(0.2);
}  */


body {
    /* content: ""; */
    width: 100%;
    height: 100%;
    /* border:  #f26457 solid 4px; */
    background-size: cover;
    background-position: center; 
    background-color: #2d241f;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
#teste {
    position: absolute;
    opacity: 0.6;
    z-index: -10;
}
#teste img {
    width: 100vW;
    height: 100vh;
    background-size: contain;
    /* overflow: hidden; */
}
.conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* border:  #ac57f2 solid 4px; */
    background-position: center;
}

.background-eventos {
    width: 100%;
    height: 100%;
    justify-items: center;
    justify-content: center;
    margin: 2 auto;
    padding: auto;
    /* border:  #17c100 solid 4px; */
}

#testandoo {
    margin-top: 10%;
    /* border: 1px solid  #2d241f5b; */
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8%;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.card{
    
    justify-content: center;
    width:300px;
    height:500px;
    background-color:#ffffff;
    border-radius: 15px;
    /* margin-top: 100px; */
    box-shadow: 013px 9px 24px 1px rgba(0,0,0,0.75);
    z-index: -1;    
    /* filter: blur(2px); */
    /* margin: ; */
}

h1{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    
}

.liga{
    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-left: 50px;
}

.titulo-card{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.texto-card{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

.btn{
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    transition: 1s;
    background-color: black;
    color: #ffffff;
}

.btn:hover{
    transition: 1s;
    background-color: rgb(156, 63, 63);
    color: #ffffff;
    cursor: pointer;
}

.button-card{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}